.input__control {
  .van-field__control {
    padding: 6px !important;
  }
}
.van-iconA{
  .van-icon{
    padding: 8px !important;
    font-size: 35px !important;
  }
}
.van-bottom_img{
  .van-icon{
    font-size: 40px !important;
  }
}
.tropical{
  .van-ellipsis{
    font-size: 30px !important;
  }
}
.Comment_details{
  .van-ellipsis{
    font-size: 30px !important;
  }
}
.Shop{
  .van-cell-group{
    margin: 50px 0 !important;
  }
}
.van-cell_value_box{
  .van-cell__value {
    border-bottom: 2px solid #819EB5 !important;
  }
}
